.knowledge-graph-main {
    background-color: #171738;
    width: 100%;
    height: 60vh;
    display: flex;
    z-index: -1;
}

.knowledge-graph-content {
    flex: 1;
    background-color: rgb(57, 44, 141);
}