.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem 2rem;
    color: white;
  }

  @font-face {
    font-family: "Andromeda";
    src: url("./fonts/Andromeda-eR2n.ttf") format("TrueType");
    font-weight: normal;
    font-style: normal;
  }
  
h1 {
    font-family: "Andromeda", sans-serif;
}

  .nav-brand {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  
  
  .nav-brand h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .search-form {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    width: 200px;
  }
  
  .search-button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: blue;
  }
  