.right-container {
    float: right;
    width: 58%;
    border-radius: 1rem;
    margin: 5px;
    height: 100%;
  }

.right-rows {
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
    font-size: 30px;
    color: #DFF3E4;
    background-color: #4f2f96;
    border-radius: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}